@charset "utf-8";
.dtree {
	padding: 5px 0 0 5px;
}
.dtree img {
	vertical-align: middle;
}
.dtree .word,
.dtree a {
	color: #060;
}
.dtree a:hover {
	color: #f60;
}
.dtree .name {
	margin-left: 3px;
}
.dtree .node,
.dtree .nodeSel {
	vertical-align: middle;
}
.dtree .nodeSel {
	color: #f00;
}